*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
.borderspace,table,th,tr,tbody{
    border:1px solid black;
    margin :auto;
   border-collapse: collapse;
   width: 400px;
}