*{
    margin: 0;
     padding:0;
     box-sizing: border-box;

}
.cards{
    display: flex;
    justify-content: space-around ;
    padding: 20px;
    margin: 20px;
    background-color: aquamarine;
    
}
nav{ 
    display: flex;
    justify-content: center;
    margin: 10px;
    background-color: antiquewhite;
}
ul{
    width: 400px;
    display: flex;
    justify-content: space-around;
    list-style-type:none;
    padding: 20px;
}
section{
    border: 0px  2px solid rgb(15, 195, 223) ;
    padding: 20px;
    margin: 20px;
    
}
button{
    border: none;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(92, 91, 90);
    color: white;
}
p{
    color: rgb(61, 60, 60) ;
    font-size:20px;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    padding: 20px;

}

